<section class="text-gray-600 body-font">
  <div class="container px-5 py-12 mx-auto">
    <div class="flex flex-col text-center w-full mb-20">
      <h1 class="text-2xl font-medium title-font mb-4 text-base-content">WebM</h1>
      <p class="lg:w-2/3 mx-auto leading-relaxed text-base-content">WebM ist ein von Google speziell für das Web entwickeltes Video Format welches auf HTML5 ausgelegt ist. Es verwendet die Videocodecs VP8 und VP9. Uhrsprünglich war es als Ablöser/Nachfolger für das mp4 Format angedacht. Durch die kleine Grösse der WebM Videos eignet es sich speziell gut für den Web Bereich.</p>
    </div>
    <div class="grid grid-cols-1 justify-items-center">
      <div class="p-2">
        <div class="card card-compact w-96 bg-neutral shadow-xl">
          <video controls loading="lazy">
            <source src="../../../assets/Videos/erin_und_moritz_in_der_schule_webm.webm" type="video/webm">
          </video>
          <div class="card-body bg-base-content">
            <h2 class="card-title text-white">WebM, 9.8MB</h2>
            <div class="card-actions justify-start">
              <!-- Put this part before </body> tag -->
              <input type="checkbox" id="jpeg-1" class="modal-toggle">
              <div class="modal">
                <div class="modal-box w-11/12 max-w-5xl">
                  <label for="jpeg-1" class="btn btn-sm btn-circle absolute right-2 top-2">✕</label>
                  <h3 class="text-lg font-bold">Congratulations random Interner user!</h3>
                  <p class="py-4">You've been selected for a chance to get one year of subscription to use Wikipedia for free!</p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<section class="text-gray-600 body-font">
  <div class="container px-5 py-12 mx-auto">
    <div class="flex flex-col text-center w-full mb-20">
      <h1 class="text-2xl font-medium title-font mb-4 text-base-content">Ogg</h1>
      <p class="lg:w-2/3 mx-auto leading-relaxed text-base-content">Ogg ist ein Container-Dateiformat für Multimedia-Dateien, kann also gleichzeitig Audio-, Video- sowie Textdaten enthalten. Ogg wurde mit dem Ziel konzipiert, eine freie und von Softwarepatenten unbeschränkte Alternative zu proprietären Formaten zu bieten, um Multimedia-Inhalte effizient zu speichern und zu streamen. Bei den Codecs gibt es verlustfreie und verlustbehaftete Varianten. Wir haben den Codex Theora verwendet, welcher nicht verlustfrei ist.</p>
    </div>
    <div class="grid grid-cols-1 justify-items-center">
      <div class="p-2">
        <div class="card card-compact w-96 bg-neutral shadow-xl">
          <video controls loading="lazy">
            <source src="../../../assets/Videos/erin_und_moritz_in_der_schule_ogg.ogg" type="video/ogg">
          </video>
          <div class="card-body bg-base-content">
            <h2 class="card-title text-white">OGG, 864 KB</h2>
            <div class="card-actions justify-start">
              <!-- Put this part before </body> tag -->
              <input type="checkbox" id="jpeg-1" class="modal-toggle">
              <div class="modal">
                <div class="modal-box w-11/12 max-w-5xl">
                  <label for="jpeg-1" class="btn btn-sm btn-circle absolute right-2 top-2">✕</label>
                  <h3 class="text-lg font-bold">Congratulations random Interner user!</h3>
                  <p class="py-4">You've been selected for a chance to get one year of subscription to use Wikipedia for free!</p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<section class="text-gray-600 body-font">
  <div class="container px-5 py-12 mx-auto">
    <div class="flex flex-col text-center w-full mb-20">
      <h1 class="text-2xl font-medium title-font mb-4 text-base-content">MP4</h1>
      <p class="lg:w-2/3 mx-auto leading-relaxed text-base-content">MP4 ist ein Video-Containerformat, das von der MPEG für MPEG-4-Inhalte vorgesehen und erstmals im Jahre 2001 in ISO/IEC 14496-12 und -14 standardisiert wurde. Das MP4-Dateiformat basiert auf dem Apple-QuickTime-Dateiformat. Beide Formate organisieren Mediendaten in hierarchischen und sequenziellen Dateneinheiten. Wir haben den H.265 verwendet.</p>
    </div>
    <div class="grid grid-cols-1 justify-items-center">
      <div class="p-2">
        <div class="card card-compact w-96 bg-neutral shadow-xl">
          <video controls loading="lazy">
            <source src="../../../assets/Videos/erin_und_moritz_in_der_schule_mp4.mp4" type="video/mp4">
          </video>
          <div class="card-body bg-base-content">
            <h2 class="card-title text-white">MP4, 11.1MB</h2>
            <div class="card-actions justify-start">
              <!-- Put this part before </body> tag -->
              <input type="checkbox" id="jpeg-1" class="modal-toggle">
              <div class="modal">
                <div class="modal-box w-11/12 max-w-5xl">
                  <label for="jpeg-1" class="btn btn-sm btn-circle absolute right-2 top-2">✕</label>
                  <h3 class="text-lg font-bold">Congratulations random Interner user!</h3>
                  <p class="py-4">You've been selected for a chance to get one year of subscription to use Wikipedia for free!</p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

