<section class="text-gray-600 body-font">
  <div class="container px-5 py-12 mx-auto">
    <div class="flex flex-col text-center w-full mb-20">
      <h1 class="text-2xl font-medium title-font mb-4 text-base-content">JPEG</h1>
      <p class="lg:w-2/3 mx-auto leading-relaxed text-base-content">Die Komprimierungsverfahren für das JPEG-Format wurden speziell für digitale Bilder entwickelt. Damit lassen sich Bilder aus jeweils 256 Stufen für Rot, Grün und Blau abbilden und ein Farbumfang von 16,7 Millionen Farben abdecken<br><br>Das Bild rechts ist um einiges grösser, da es viel mehr Detail enthät. Dies siet man auf den ersten Blick nicht dock die Weissen Flächen haben Luftlöcher. Dies fürt dazu, dass die Komprimierung nicht sehr gut funktionniert.</p>
    </div>
    <div class="grid grid-cols-2 justify-items-center">
      <div class="p-2">
        <div class="card card-compact w-96 bg-neutral shadow-xl">
          <figure>
            <!-- TODO: JPG Image (high res)-->
            <img src="../../../assets/Pictures/moritz.jpg" alt="pic-1" loading="lazy"/>
          </figure>
          <div class="card-body bg-base-content">
            <h2 class="card-title text-white">JPEG, 3.3MB</h2>
            <div class="card-actions justify-start">
              <button class="btn gap-2">
                <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6" fill="none" viewBox="0 0 24 24" stroke="currentColor" stroke-width="2">
                  <path stroke-linecap="round" stroke-linejoin="round" d="M13 16h-1v-4h-1m1-4h.01M21 12a9 9 0 11-18 0 9 9 0 0118 0z" />
                </svg>                Info
              </button>
              <!-- Put this part before </body> tag -->
              <input type="checkbox" id="jpeg-1" class="modal-toggle">
              <div class="modal">
                <div class="modal-box w-11/12 max-w-5xl">
                  <label for="jpeg-1" class="btn btn-sm btn-circle absolute right-2 top-2">✕</label>
                  <h3 class="text-lg font-bold">Congratulations random Interner user!</h3>
                  <p class="py-4">You've been selected for a chance to get one year of subscription to use Wikipedia for free!</p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="p-2">
        <div class="card card-compact w-96 bg-neutral shadow-xl">
          <!-- TODO: JPG Image (low res)-->
          <figure>
            <img src="../../../assets/Pictures/wall.jpg" alt="pic-1" loading="lazy"/>
          </figure>
          <div class="card-body bg-base-content">
            <h2 class="card-title text-white">JPEG, 7.2MB</h2>
            <div class="card-actions justify-start">
              <button class="btn gap-2">
                <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6" fill="none" viewBox="0 0 24 24" stroke="currentColor" stroke-width="2">
                  <path stroke-linecap="round" stroke-linejoin="round" d="M13 16h-1v-4h-1m1-4h.01M21 12a9 9 0 11-18 0 9 9 0 0118 0z" />
                </svg>                Info
              </button>
              <!-- Put this part before </body> tag -->
              <input type="checkbox" id="jpeg-2" class="modal-toggle">
              <div class="modal">
                <div class="modal-box w-11/12 max-w-5xl">
                  <label for="jpeg-2" class="btn btn-sm btn-circle absolute right-2 top-2">✕</label>
                  <h3 class="text-lg font-bold">Congratulations random Interner user!</h3>
                  <p class="py-4">You've been selected for a chance to get one year of subscription to use Wikipedia for free!</p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<section class="text-gray-600 body-font">
  <div class="container px-5 py-12 mx-auto">
    <div class="flex flex-col text-center w-full mb-20">
      <h1 class="text-2xl font-medium title-font mb-4 text-base-content">PNG</h1>
      <p class="lg:w-2/3 mx-auto leading-relaxed text-base-content">Portable Network Graphics ist ein Rastergrafikformat mit verlustfreier Datenkompression. Es ist vom World Wide Web Consortium anerkannt und das meistverwendete verlustfreie Grafikformat im Internet.<br><br>Das PNG Dateiformat verfügt nicht über die gleiche komprimierung wie das JPG Format. Dafür ist es aber komplett verlustfrei</p>
    </div>
    <div class="grid grid-cols-2 justify-items-center">
      <div class="p-2">
        <div class="card card-compact w-96 bg-neutral shadow-xl">
          <!-- TODO: PNG Image (low res)-->
          <figure>
            <img src="../../../assets/Pictures/moritz.png" alt="pic-1" loading="lazy"/>
          </figure>
          <div class="card-body bg-base-content">
            <h2 class="card-title text-white">JPEG, 7.7MB</h2>
            <div class="card-actions justify-start">
              <button class="btn gap-2">
                <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6" fill="none" viewBox="0 0 24 24" stroke="currentColor" stroke-width="2">
                  <path stroke-linecap="round" stroke-linejoin="round" d="M13 16h-1v-4h-1m1-4h.01M21 12a9 9 0 11-18 0 9 9 0 0118 0z" />
                </svg>                Info
              </button>
              <!-- Put this part before </body> tag -->
              <input type="checkbox" id="jpeg-1" class="modal-toggle">
              <div class="modal">
                <div class="modal-box w-11/12 max-w-5xl">
                  <label for="jpeg-1" class="btn btn-sm btn-circle absolute right-2 top-2">✕</label>
                  <h3 class="text-lg font-bold">Congratulations random Interner user!</h3>
                  <p class="py-4">You've been selected for a chance to get one year of subscription to use Wikipedia for free!</p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="p-2">
        <div class="card card-compact w-96 bg-neutral shadow-xl">
          <!-- TODO: PNG Image (high res)-->
          <figure>
            <img src="../../../assets/Pictures/wall.png" alt="pic-1" loading="lazy"/>
          </figure>
          <div class="card-body bg-base-content">
            <h2 class="card-title text-white">JPEG, 14.9MB</h2>
            <div class="card-actions justify-start">
              <button class="btn gap-2">
                <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6" fill="none" viewBox="0 0 24 24" stroke="currentColor" stroke-width="2">
                  <path stroke-linecap="round" stroke-linejoin="round" d="M13 16h-1v-4h-1m1-4h.01M21 12a9 9 0 11-18 0 9 9 0 0118 0z" />
                </svg>                Info
              </button>
              <!-- Put this part before </body> tag -->
              <input type="checkbox" id="jpeg-2" class="modal-toggle">
              <div class="modal">
                <div class="modal-box w-11/12 max-w-5xl">
                  <label for="jpeg-2" class="btn btn-sm btn-circle absolute right-2 top-2">✕</label>
                  <h3 class="text-lg font-bold">Congratulations random Interner user!</h3>
                  <p class="py-4">You've been selected for a chance to get one year of subscription to use Wikipedia for free!</p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<section class="text-gray-600 body-font">
  <div class="container px-5 py-12 mx-auto">
    <div class="flex flex-col text-center w-full mb-20">
      <h1 class="text-2xl font-medium title-font mb-4 text-base-content">PNG-8</h1>
      <p class="lg:w-2/3 mx-auto leading-relaxed text-base-content">Das PNG-8-Format verwendet 8-Bit-Farbe. Wie das GIF-Format komprimiert auch das PNG-8-Format Farbflächen auf effiziente Weise und erhält dabei scharfe Details in Strichgrafiken, Logos oder Text.</p>
    </div>
    <div class="grid grid-cols-2 justify-items-center">
      <div class="p-2">
        <div class="card card-compact w-96 bg-neutral shadow-xl">
          <figure>
            <img src="../../../assets/Pictures/moritz-8.png" alt="pic-1" loading="lazy"/>
          </figure>
          <div class="card-body bg-base-content">
            <h2 class="card-title text-white">JPEG, 6.7MB</h2>
            <div class="card-actions justify-start">
              <button class="btn gap-2">
                <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6" fill="none" viewBox="0 0 24 24" stroke="currentColor" stroke-width="2">
                  <path stroke-linecap="round" stroke-linejoin="round" d="M13 16h-1v-4h-1m1-4h.01M21 12a9 9 0 11-18 0 9 9 0 0118 0z" />
                </svg>                Info
              </button>
              <!-- Put this part before </body> tag -->
              <input type="checkbox" id="jpeg-1" class="modal-toggle">
              <div class="modal">
                <div class="modal-box w-11/12 max-w-5xl">
                  <label for="jpeg-1" class="btn btn-sm btn-circle absolute right-2 top-2">✕</label>
                  <h3 class="text-lg font-bold">Congratulations random Interner user!</h3>
                  <p class="py-4">You've been selected for a chance to get one year of subscription to use Wikipedia for free!</p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="p-2">
        <div class="card card-compact w-96 bg-neutral shadow-xl">
          <figure>
            <img src="../../../assets/Pictures/wall-8.png" alt="pic-1" loading="lazy"/>
          </figure>
          <div class="card-body bg-base-content">
            <h2 class="card-title text-white">JPEG, 10.8MB</h2>
            <div class="card-actions justify-start">
              <button class="btn gap-2">
                <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6" fill="none" viewBox="0 0 24 24" stroke="currentColor" stroke-width="2">
                  <path stroke-linecap="round" stroke-linejoin="round" d="M13 16h-1v-4h-1m1-4h.01M21 12a9 9 0 11-18 0 9 9 0 0118 0z" />
                </svg>                Info
              </button>
              <!-- Put this part before </body> tag -->
              <input type="checkbox" id="jpeg-2" class="modal-toggle">
              <div class="modal">
                <div class="modal-box w-11/12 max-w-5xl">
                  <label for="jpeg-2" class="btn btn-sm btn-circle absolute right-2 top-2">✕</label>
                  <h3 class="text-lg font-bold">Congratulations random Interner user!</h3>
                  <p class="py-4">You've been selected for a chance to get one year of subscription to use Wikipedia for free!</p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<section class="text-gray-600 body-font">
  <div class="container px-5 py-12 mx-auto">
    <div class="flex flex-col text-center w-full mb-20">
      <h1 class="text-2xl font-medium title-font mb-4 text-base-content">BMP</h1>
      <p class="lg:w-2/3 mx-auto leading-relaxed text-base-content">Windows Bitmap (BMP) oder device-independent bitmap (DIB) ist ein zweidimensionales Rastergrafikformat, das für die Betriebssysteme Microsoft Windows und OS/2 entwickelt und mit Microsoft Windows 3.0 eingeführt wurde, welches 1990 erschien. Die Dateiendung ist .bmp, seltener .dib.</p>
    </div>
    <div class="grid grid-cols-2 justify-items-center">
      <div class="p-2">
        <div class="card card-compact w-96 bg-neutral shadow-xl">
          <figure>
            <img src="../../../assets/Pictures/moritz.bmp" alt="pic-1" loading="lazy"/>
          </figure>
          <div class="card-body bg-base-content">
            <h2 class="card-title text-white">JPEG, 6.7MB</h2>
            <div class="card-actions justify-start">
              <button class="btn gap-2">
                <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6" fill="none" viewBox="0 0 24 24" stroke="currentColor" stroke-width="2">
                  <path stroke-linecap="round" stroke-linejoin="round" d="M13 16h-1v-4h-1m1-4h.01M21 12a9 9 0 11-18 0 9 9 0 0118 0z" />
                </svg>                Info
              </button>
              <!-- Put this part before </body> tag -->
              <input type="checkbox" id="jpeg-1" class="modal-toggle">
              <div class="modal">
                <div class="modal-box w-11/12 max-w-5xl">
                  <label for="jpeg-1" class="btn btn-sm btn-circle absolute right-2 top-2">✕</label>
                  <h3 class="text-lg font-bold">Congratulations random Interner user!</h3>
                  <p class="py-4">You've been selected for a chance to get one year of subscription to use Wikipedia for free!</p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="p-2">
        <div class="card card-compact w-96 bg-neutral shadow-xl">
          <figure>
            <img src="../../../assets/Pictures/wall.bmp" alt="pic-1" loading="lazy"/>
          </figure>
          <div class="card-body bg-base-content">
            <h2 class="card-title text-white">JPEG, 10.8MB</h2>
            <div class="card-actions justify-start">
              <button class="btn gap-2">
                <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6" fill="none" viewBox="0 0 24 24" stroke="currentColor" stroke-width="2">
                  <path stroke-linecap="round" stroke-linejoin="round" d="M13 16h-1v-4h-1m1-4h.01M21 12a9 9 0 11-18 0 9 9 0 0118 0z" />
                </svg>                Info
              </button>
              <!-- Put this part before </body> tag -->
              <input type="checkbox" id="jpeg-2" class="modal-toggle">
              <div class="modal">
                <div class="modal-box w-11/12 max-w-5xl">
                  <label for="jpeg-2" class="btn btn-sm btn-circle absolute right-2 top-2">✕</label>
                  <h3 class="text-lg font-bold">Congratulations random Interner user!</h3>
                  <p class="py-4">You've been selected for a chance to get one year of subscription to use Wikipedia for free!</p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

