<section class="text-gray-600 body-font">
  <div class="container px-5 py-12 mx-auto">
    <div class="flex flex-col text-center w-full mb-20">
      <h1 class="text-2xl font-medium title-font mb-4 text-base-content">MP3</h1>
      <p class="lg:w-2/3 mx-auto leading-relaxed text-base-content mb-4">"MP3" ist die Abkürzung für "MPEG-1 Audio Layer 3" und gehört in die Familie der Motion Picture Expert Group (MPEG). MP3-Dateien werden mit ".mp3" gekennzeichnet.</p>
      <p class="lg:w-2/3 mx-auto leading-relaxed text-base-content mb-4">Die Musik-Datei wird dabei sehr stark komprimiert, wobei sie nur geringfügig an Klang-Qualität verliert. Im Vergleich zur originalen Musik-Datei kommt eine .mp3-Datei mit nur zehn Prozent der ursprünglichen Dateigröße aus.</p>
      <p class="lg:w-2/3 mx-auto leading-relaxed text-base-content">Bei der Komprimierung werden einfach bestimmte Töne weggelassen. Das betrifft die Töne, die von lauteren Tönen maskiert, also verdeckt werden. Die Kunst dabei ist, genau diese Töne zu finden.
        Diese sind für das menschliche Ohr nämlich kaum wahrnehmbar und somit entsteht kaum Qualitätsverlust bei der Komprimierung.
        Das Verfahren gewährleistet somit gute Qualität bei geringer Datengröße.</p>
      <p class="lg:w-2/3 mx-auto leading-relaxed text-base-content mt-4">
        <strong>Vorteile: </strong> weit verbreitet, von vielen Abspiel-Geräten unterstützt, hohe Kompression <br>
        <strong>Nachteile: </strong> ggf. hörbarer Qualitätsverlust, vor allem bei kleinen Bitraten
      </p>
    </div>
    <div class="grid grid-cols-2 justify-items-center">
      <div class="p-2">
        <div class="card card-compact w-96 bg-neutral shadow-xl">
          <audio controls class="mt-5 mb-5 w-full pr-5 pl-5" autoplay>
            <source src="../../../assets/sounds/messi.mp3" type="audio/mp3">
          </audio>
          <div class="card-body bg-base-content">
            <h2 class="card-title text-white">MP3, 995KB</h2>
            <div class="card-actions justify-start">
              <!-- Put this part before </body> tag -->
              <input type="checkbox" id="jpeg-1" class="modal-toggle">
              <div class="modal">
                <div class="modal-box w-11/12 max-w-5xl">
                  <label for="jpeg-1" class="btn btn-sm btn-circle absolute right-2 top-2">✕</label>
                  <h3 class="text-lg font-bold">Congratulations random Interner user!</h3>
                  <p class="py-4">You've been selected for a chance to get one year of subscription to use Wikipedia for free!</p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="p-2">
        <div class="card card-compact w-96 bg-neutral shadow-xl">
          <audio controls class="mt-5 mb-5 w-full pr-5 pl-5">
            <source src="../../../assets/sounds/gta.mp3" type="audio/mp3">
          </audio>
          <div class="card-body bg-base-content">
            <h2 class="card-title text-white">MP3, 1,16Mb</h2>
            <div class="card-actions justify-start">
              <!-- Put this part before </body> tag -->
              <input type="checkbox" id="jpeg-1" class="modal-toggle">
              <div class="modal">
                <div class="modal-box w-11/12 max-w-5xl">
                  <label for="jpeg-1" class="btn btn-sm btn-circle absolute right-2 top-2">✕</label>
                  <h3 class="text-lg font-bold">Congratulations random Interner user!</h3>
                  <p class="py-4">You've been selected for a chance to get one year of subscription to use Wikipedia for free!</p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<section class="text-gray-600 body-font">
  <div class="container px-5 py-12 mx-auto">
    <div class="flex flex-col text-center w-full mb-20">
      <h1 class="text-2xl font-medium title-font mb-4 text-base-content">WAV</h1>
      <p class="lg:w-2/3 mx-auto leading-relaxed text-base-content mb-4">Beim WAVE- (oder WAV-)Format handelt es sich um ein Containerformat zur verlustfreien Speicherung von Audiodaten. Es basiert auf dem Resource Interchange File Format (RIFF), das von Microsoft und IBM für das Betriebssystem Windows entwickelt wurde.</p>
      <p class="lg:w-2/3 mx-auto leading-relaxed text-base-content">Die Dateigrösse einer WAV-Datei ist aus dem Grund grösser als eine MP3-Datei, da sie wie schon erwähnt eine Verlustfreie Kompression (PCM) durchgeführt wird. Dadurch gehen nicht wie beim MP3-Format keine Frequenzen verloren.</p>
      <p class="lg:w-2/3 mx-auto leading-relaxed text-base-content mt-4">
        <strong>Vorteile: </strong> Muss beim Bearbeiten nicht kodiert / dekodiert werden <br>
        <strong>Nachteile: </strong> Sehr große Dateien
      </p>
    </div>
    <div class="grid grid-cols-2 justify-items-center">
      <div class="p-2">
        <div class="card card-compact w-96 bg-neutral shadow-xl">
          <audio controls class="mt-5 mb-5 w-full pr-5 pl-5">
            <source src="../../../assets/sounds/messi.wav" type="audio/mp3">
          </audio>
          <div class="card-body bg-base-content">
            <h2 class="card-title text-white">WAV, 572 KB</h2>
            <div class="card-actions justify-start">
              <!-- Put this part before </body> tag -->
              <input type="checkbox" id="jpeg-1" class="modal-toggle">
              <div class="modal">
                <div class="modal-box w-11/12 max-w-5xl">
                  <label for="jpeg-1" class="btn btn-sm btn-circle absolute right-2 top-2">✕</label>
                  <h3 class="text-lg font-bold">Congratulations random Interner user!</h3>
                  <p class="py-4">You've been selected for a chance to get one year of subscription to use Wikipedia for free!</p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="p-2">
        <div class="card card-compact w-96 bg-neutral shadow-xl">
          <audio controls class="mt-5 mb-5 w-full pr-5 pl-5">
            <source src="../../../assets/sounds/gta.wav" type="audio/mp3">
          </audio>
          <div class="card-body bg-base-content">
            <h2 class="card-title text-white">WAV, 2,78MB</h2>
            <div class="card-actions justify-start">
              <!-- Put this part before </body> tag -->
              <input type="checkbox" id="jpeg-1" class="modal-toggle">
              <div class="modal">
                <div class="modal-box w-11/12 max-w-5xl">
                  <label for="jpeg-1" class="btn btn-sm btn-circle absolute right-2 top-2">✕</label>
                  <h3 class="text-lg font-bold">Congratulations random Interner user!</h3>
                  <p class="py-4">You've been selected for a chance to get one year of subscription to use Wikipedia for free!</p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<section class="text-gray-600 body-font">
  <div class="container px-5 py-12 mx-auto">
    <div class="flex flex-col text-center w-full mb-20">
      <h1 class="text-2xl font-medium title-font mb-4 text-base-content">OOG</h1>
      <p class="lg:w-2/3 mx-auto leading-relaxed text-base-content mb-4">OGG ist ein komprimiertes digitales Audiodateiformat, das von anderen auch als OGG Vorbis bezeichnet wird. Dieses Audiodateiformat ist im Vergleich zu MP3 nicht so beliebt, aber in Bezug auf die Größe viel kleiner, da es stärker komprimiert ist.</p>
      <p class="lg:w-2/3 mx-auto leading-relaxed text-base-content mb-4">Das OGG-Format ist ein Open-Source-Audioformat. Somit kann jeder dieses Format verwenden, wenn er möchte. Sie sollten auch wissen, dass die Spotify-Anwendung dieses OGG Vorbis-Format verwendet. Wenn Sie überprüfen möchten, wie gut dieses Format ist, können Sie jeden Spotify-Track anhören.</p>
      <p class="lg:w-2/3 mx-auto leading-relaxed text-base-content">Wenn es um hohe Qualität geht, gelten unter anderem die Dateien im OGG Vorbis-Format als die beste Qualität.</p>
      <p class="lg:w-2/3 mx-auto leading-relaxed text-base-content mt-4">
        <strong>Vorteile: </strong> geringe Dateigröße bei guter Klangqualität, lizenzfrei
        <br>
        <strong>Nachteile: </strong> von vielen Programmen nicht unterstützt, muss für die Audio-Bearbeitung gewandelt werden
      </p>
    </div>
    <div class="grid grid-cols-2 justify-items-center">
      <div class="p-2">
        <div class="card card-compact w-96 bg-neutral shadow-xl">
          <audio controls class="mt-5 mb-5 w-full pr-5 pl-5">
            <source src="../../../assets/sounds/gta.ogg" type="audio/mp3">
          </audio>
          <div class="card-body bg-base-content">
            <h2 class="card-title text-white">OOG, 33,6KB</h2>
            <div class="card-actions justify-start">
              <!-- Put this part before </body> tag -->
              <input type="checkbox" id="jpeg-1" class="modal-toggle">
              <div class="modal">
                <div class="modal-box w-11/12 max-w-5xl">
                  <label for="jpeg-1" class="btn btn-sm btn-circle absolute right-2 top-2">✕</label>
                  <h3 class="text-lg font-bold">Congratulations random Interner user!</h3>
                  <p class="py-4">You've been selected for a chance to get one year of subscription to use Wikipedia for free!</p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="p-2">
        <div class="card card-compact w-96 bg-neutral shadow-xl">
          <audio controls class="mt-5 mb-5 w-full pr-5 pl-5">
            <source src="../../../assets/sounds/messi.ogg" type="audio/mp3">
          </audio>
          <div class="card-body bg-base-content">
            <h2 class="card-title text-white">OOG, 138KB </h2>
            <div class="card-actions justify-start">
              <!-- Put this part before </body> tag -->
              <input type="checkbox" id="jpeg-1" class="modal-toggle">
              <div class="modal">
                <div class="modal-box w-11/12 max-w-5xl">
                  <label for="jpeg-1" class="btn btn-sm btn-circle absolute right-2 top-2">✕</label>
                  <h3 class="text-lg font-bold">Congratulations random Interner user!</h3>
                  <p class="py-4">You've been selected for a chance to get one year of subscription to use Wikipedia for free!</p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
