<section class="text-gray-600 body-font">
  <div class="container px-5 py-12 mx-auto">
    <div class="flex flex-col text-center w-full mb-20">
      <h1 class="text-2xl font-medium title-font mb-4 text-base-content">Animationen in CSS mit Farbänderung</h1>
    </div>
    <div class="grid grid-cols-2 justify-items-center">
      <div class="p-2">
        <div class="card card-compact w-96 bg-neutral shadow-xl h-72">
          <figure>
            <div class="animation-basic"></div>
          </figure>
          <div class="card-body bg-base-content">
            <h2 class="card-title text-white justify-center">Basic Animation</h2>
          </div>
        </div>
      </div>
      <div class="p-2">
        <div class="card card-compact w-96 bg-neutral shadow-xl h-72">
          <figure>
            <div class="animation-multi-style-change"></div>
          </figure>
          <div class="card-body bg-base-content">
            <h2 class="card-title text-white justify-center">Animation mit mehreren Style änderungen</h2>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<section class="text-gray-600 body-font">
  <div class="container px-5 py-12 mx-auto">
    <div class="flex flex-col text-center w-full mb-20">
      <h1 class="text-2xl font-medium title-font mb-4 text-base-content">Animationen mit Bewegung</h1>
    </div>
    <div class="grid grid-cols-2 justify-items-center">
      <div class="p-2">
        <div class="card card-compact w-96 bg-neutral shadow-xl h-72">
          <figure class="h-auto">
            <div class="animation-moving"></div>
          </figure>
          <div class="card-body bg-base-content">
            <h2 class="card-title text-white justify-center">Animation von Rechts nach Links</h2>
          </div>
        </div>
      </div>
      <div class="p-2">
        <div class="card card-compact w-96 bg-neutral shadow-xl h-72">
          <figure>
            <div class="animation-moving-around"></div>
          </figure>
          <div class="card-body bg-base-content">
            <h2 class="card-title text-white">Animation drehen</h2>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

